body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#007bff, #d0314c);
}
.profile-section{
    width: 23rem;
    height: 24rem;
    background-color: rgb(50,50,50);
    color:white;
    padding: 1.5rem;
    border-radius: 15px;
    box-sizing: border-box;
}
.profile-section .form-group{
    margin: 1rem;
}
.form-group input{
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 6px;
    background: transparent;
    border:  2px solid #555;
    
}
.profile-section h3{
    text-align: center;

}
.common-input{
    width:100%;
    padding: 10px;
    color:white;
}
.form-group button{
    width:100%;
    padding: 0.5rem;
    border-radius: 1rem;
}
.radio-group{
    width: 100%;
}
.radio-group label{
    border: 2px solid #555;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}


.common-input:focus{
  border-color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px rgba(0,255,0,0.6);
}