body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(120deg, #007bff, #d0314c);
}

.main-form{
    width:25rem;
    height:25rem;
    
}
.registration{
    width:500px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(50,50,50);
    color: white;
    border-radius: 1rem;

}
.registration h2{
    text-align: center;
    
}
.registration .login p,a{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
.registration .login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button1 button{
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-button: 5px;
    border-radius: 20px;
}

.registration input{
  box-sizing: border-box;
  padding: 12px;
  width:100%;
  margin-top: 10px;
  margin-right: 10px;
  /* margin-bottom: 5px; */
  border: 2px solid #555;
  border-radius: 6px;
  outline: none;
  background: transparent;
  transition: 0.3s;
  color:white;
}
.button1 button:hover{
    
    border:green;
    color:green;
}
.registration input::placeholder{
    color:#aaa;
}
.registration input:focus{
  border-color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px rgba(0,255,0,0.6);
}



