body{
    margin: 0;
    padding: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #007bff, #d0314c);
}
.main{
    width:15rem;
    height:20rem;
    
}
.address{
    box-sizing: border-box;
    background-color:  rgb(50,50,50);
    color:white;
    padding: 1rem;
    border-radius: 1rem;
}
.address h5{
    text-align: center;
}
.address .button button{
    width: 100%;
     border-radius: 1rem;

}
.address input{
    width:100%;
    box-sizing: border-box;
    margin-bottom:10px;
    background: transparent;
    outline: none;
    border: 2px solid #555;
     border-radius: 0.5rem;
}
.address input:focus{
  border-color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px rgba(0,255,0,0.6);
}