body{
    margin: 0;
    padding: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(120deg, #007bff, #d0314c);
}
.main{
    width: 15rem;
    height:15rem;
    
}
.set-password{
    width: 300px;
   background-color: rgb(50,50,50);
   padding: 30px;
     box-sizing: border-box;
   color:white;
   border-radius: 1rem;
 
   
}
.set-password form input{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 6px;
    outline: none;
    background: transparent;
    transition: 0.3s;
    border: 2px solid #555;
     box-sizing: border-box;

}
.set-password button{
    width:100%;
    border-radius: 1rem;
    border: 2px solid #555;

   
}
.set-password input:focus{
  border-color: #00ff00;
  box-shadow: 0 0 10px #00ff00, 0 0 20px rgba(0,255,0,0.6);
}

.set-password button:hover{
    background-color: bisque;
    color:green;
    /* font-weight: bold; */
    /* transform: scale(1.); */
    transition: all 0.5s ease-out;
}

